window 
{
    background-image: url('assets/background-img.png'); 
    background-size: cover;               
    background-position: center;   
    font-weight: 600;
}

label {
    color: white;
    font-weight: bold;
}

button {
    background: radial-gradient(circle, #4A90E2 40%, #003366 100%);
}

button:active {
    background: orange;
}

button > label {
    color: white;
}

#title {
    color: black;
}

#welcome-text {
    font-size: 30px;
}

#money_section {
    background-image: url('assets/price_background.jpg');
    background-size: cover;               
    background-position: center;
    border-left: white 1px solid;
}


#question_section {
    margin-top: 200px; 
    margin-bottom: 10px; 
}

.helpOption {
    border-left: white 1px solid;
    background-size: contain;
    background-repeat: no-repeat;               
    background-position: center;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    font-weight: bold;  
}

#callFriend {
    background-image: url('assets/phone.svg');
    background-size: contain;
    background-repeat: no-repeat;               
    background-position: center;
    border: 2px solid white;
    border-radius: 50%;  
}

#askPeople {
    background-image: url('assets/people.svg');
    background-size: contain;
    background-repeat: no-repeat;               
    background-position: center;
    border: 2px solid white;
    border-radius: 50%;  
}

#countdown-label {
    font-size: 20px;
    background-image: url('assets/clock.svg');
    background-size: cover;               
    background-position: center;
    padding: 10px;
}

#spinner {
    color: white;
}

#error-label {
    color: red;
    font-size: large;
    background-color: white;
}

#question-label {
    background: radial-gradient(circle, #4A90E2 40%, #003366 100%);
    padding: 10px;
    border: #C0C0C0 3px solid;
}

#current-point {
    background-color: orange;
}


.milestone {
    font-size: large;
    color: yellow;
}

#dialog-text {
    color: black;
}

/* Định dạng tên phòng */
.room-label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

/* Định dạng số lượng người trong phòng */
.room-people {
    font-size: 14px;
    color: #888;
}

/* Định dạng nút tham gia */
.join-btn {
    background-color: #4CAF50; /* Màu xanh lá */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.join-btn:hover {
    background-color: #45a049; /* Màu xanh lá đậm khi hover */
}

/* Định dạng hộp chứa các phần tử phòng */
.room-box {
    border: 2px solid #d8e4fa;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #d7efff;
    border-radius: 5px;
}

/* Định dạng nút "Create Room" */
.create-room-btn {
    background-color: #4CAF50; /* Màu xanh lá */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.create-room-btn:hover {
    background-color: #45a049; /* Màu xanh lá đậm khi hover */
}

#give-up-btn {
    background: red;
}

#give-up-btn:hover {
    background-color: orange;
}

#right-answer {
    background-color: green;
}

#hot-seat-label {
    font-weight: 700;
    font-size: large;
}

#go-back-btn {
    background-color: red;
}

.dialog-label {
    color: black;
}
